h1 {
    text-align: center;
    font-size: 45px;
    color: azure;
}

.record_table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: azure;
    font-size: 25px;
    border: 1px solid black;
}

th {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: underline;
}

td {
    padding-bottom: 1em;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

body {
    background-image: url(bg_watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cap_block {
    padding: 1%;
    width: 15%;
    margin: auto;
    background-color: rgb(103, 243, 145);
    font-size: 30px;
    text-align: center;
}

label {
    padding: 5px;
}

br {
    clear: both;
}

.cap_label {
    text-decoration: underline;
}
